/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
<<<<<<< HEAD

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}
=======
.display-4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.images {
  width: 400px;

}
.display-2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: black;
    font-family: verdana;
    font-size: 300%;
  }
  h4  {
    color: black;
    font-family: courier;
    font-size: 160%;
    text-align:center;
  }

  input[type=text] {
  width: 50%;
  margin: 8px 0;
  box-sizing: border-box;
  }
>>>>>>> 8e967f9496c695ed9757fd8214708cb0503d03ba

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
<<<<<<< HEAD
  #index-banner .section {
    top: 10%;
=======

  #username {
  width: 20%;
  margin: 8px 0;
  position: fixed;
>>>>>>> 8e967f9496c695ed9757fd8214708cb0503d03ba
  }
}

<<<<<<< HEAD
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
=======
  #password {
    width: 20%;
    margin: 8px 0;
    position: fixed;
    }
    
    .jumbotron{
      background-color: whitesmoke;
      
    }



    /*
  .column1 {
    width:100%;
    margin: 30px 0;
  }
  .column2 {
    width:180%;
    margin: 50px 0;
    
  }
  
  .column3 {
    width:80%;
    margin: 50px 0;
>>>>>>> 8e967f9496c695ed9757fd8214708cb0503d03ba
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
