body {
  background-color: powderblue;

}
/*
.topbar-right {
  text-align: right;
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;


}
h4  {
  color: black;
  font-family: courier;
  font-size: 160%;
}

input[type=text] {
width: 100%;
padding: 10px 10px;
margin: 8px 0;
box-sizing: border-box;
}

.cancelbtn, .signupbtn {
  float: right;
  width: 8%;
}

.container {   
  width: 500%;   
 height: 100%;   
 font-family: "Helvetica Neue", Helvetica, sans-serif;   
 color: #444;   
 -webkit-font-smoothing: antialiased;    background: #f0f0f0;
 }
